@import url('https://fonts.googleapis.com/css?family=Lato:400,700'); 

@lato : 'Lato', sans-serif;

h1, h2, h3, h4, h5, span,
p{
  font-family: @lato;
}
a{
  text-decoration: none;
}

.header-affixs.affix-top{ top: -1000px; position: fixed; visibility: collapse; }
.header-affixs.affix{ top: 0px; left: 0px; position: fixed; visibility: initial; }
.header-affixs{
    // background-color: rgba(0, 146, 223, 0.95); #f37021
    background-color:#ffffff;
    width: 100%;
    z-index: 1000;
    height: 90px;
    border-bottom: 3px solid #002a62;
    z-index: 100000;
    .lgo_web_headrs_wb{
      padding-top: 0.5rem;
      a{
        display: block;
        max-width: 217px;
      }
    }
}

.hanya-ipad{
  display: none;
}

.menu-taffix{
  padding-top: 1.1rem;
}
.menu-taffix ul{ margin: 0; padding: 0px; }
.menu-taffix ul li{ padding: 0px; padding: 0 5px; }
.menu-taffix ul li a{ font-size: 16px; font-weight: 700; color: #555555; text-decoration: none; text-transform: uppercase; }
.menu-taffix ul li.active a,
.menu-taffix ul li a:hover{ text-decoration: none; color: #000000; }

.generate-height(50);
.generate-height(@n, @i: 0) when (@i =< @n) {
  .height-@{i} {
    height: (1px * @i);
  }
  .margin-@{i} {
    margin: (1px * @i);
  }
  .margin-top-@{i} {
    margin-top: (1px * @i);
  }
  .margin-bottom-@{i} {
    margin-bottom: (1px * @i);
  }
  .margin-left-@{i} {
    margin-left: (1px * @i);
  }
  .margin-right-@{i} {
    margin-right: (1px * @i);
  }
  .margin-left-right-@{i} {
    margin-left: (1px * @i);
    margin-right: (1px * @i);
  }
  .padding-@{i} {
    padding: (1px * @i);
  }
  .padding-top-@{i} {
    padding-top: (1px * @i);
  }
  .padding-bottom-@{i} {
    padding-bottom: (1px * @i);
  }
  .padding-left-@{i} {
    padding-left: (1px * @i);
  }
  .padding-right-@{i} {
    padding-right: (1px * @i);
  }
  .padding-left-right-@{i} {
    padding-left: (1px * @i);
    padding-right: (1px * @i);
  }
  .generate-height(@n, (@i + 1));
}
.clear{
  clear: both;
}
.embed-container { position: relative; padding-bottom: 56.25%; height: 0; overflow: hidden; max-width: 100%; } .embed-container iframe, .embed-container object, .embed-container embed { position: absolute; top: 0; left: 0; width: 100%; height: 100%; }


body{
  background-color: #fff;
  font-family: @lato;
  font-weight: 400;
  color: #595959;
  overflow-x: hidden;
}
html, body{
  // height: 100%;
}


.main-head{
    height: 150px;
    background: #FFF;
   
}

.sidenav {
    height: 100%;
    background-color: #000;
    overflow-x: hidden;
    padding-top: 20px;
}


.main {
    padding: 0px 10px;
}

@media screen and (max-height: 450px) {
    .sidenav {padding-top: 15px;}
}

@media screen and (max-width: 450px) {
    .login-form{
        margin-top: 10%;
    }

    .register-form{
        margin-top: 10%;
    }
}

@media screen and (min-width: 768px){
    .main{
        margin-left: 40%; 
    }

    .sidenav{
        width: 40%;
        position: fixed;
        z-index: 1;
        top: 0;
        left: 0;
    }

    .login-form{
        margin-top: 80%;
    }

    .register-form{
        margin-top: 20%;
    }
}


.login-main-text{
    margin-top: 20%;
    padding: 60px;
    color: #fff;
}

.login-main-text h2{
    font-weight: 300;
}

.btn-black{
    background-color: #000 !important;
    color: #fff;
}


.outers_list_iconhome{
  .items{
    .n_icon{
      display: block;
      text-align: center;
      i.fa{
        font-size: 65px;
        font-weight: 700;
        color: #22535f;
      }
      padding: 2rem 0;
    }
    .card-body{
      font-size: 20px;
      text-align: center;
    }

    clear: both;
  }
}

span.rights_tntop{
  color: #fff;
  font-size: 13px;
  font-weight: 700;
  a{
    color: #f5f5f5;
  }
}

.outer_content_inside{
  .top_section{
    background-color: #f6f6f6;
    padding: 1rem 0;
    nav.nbreadcrumb{
      background: none;
        background-color: transparent;
      ul, ol{
        background: none;
        background-color: transparent;
        padding: 0;
        float: right;
        li{
          font-size: 13px;
          color: #888;
          a{
            font-size: 13px;
            color: #888;
          }
        }
      }
    }
  }

  .middle-content{

    .table td, .table th{
      padding: 0.65rem;
    }
    
    table.table_set{
      thead{
        tr{
          th{
            font-size: 16px;
            color: #000;
            text-transform: uppercase;
          }
        }
      }
      tbody{
        tr{
          td{
            font-size: 14px;
            color: #949494;
            p{
              margin-bottom: 0.3rem;
            }
            p.to_name{
              font-size: 16px;
            }
            p{
              font-size: 14px;
            }
          }
        }
      }
    }
    clear: both;

  }
}

footer.text-muted.nfooters {
    background-color: #ececec;
    padding-bottom: 2rem;
}

@import "media.styles.less";
// @import "media.styles_ib.less";